.web {
  background-color: rgba(122, 122, 122, 0.3);
  overflow: auto;
}

.app {
  width: 390px;
  height: 844px;
  overflow: auto;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 1);

  scrollbar-width: none;
  -ms-overflow-style: none;

  &__page {
    padding: 0px 25px 0px 25px;
  }

  &__tabbar {
    margin: 0 auto;
  }
}

.app:-webkit-scrollbar {
  display: none;
}