.my-posts-container {
  width: 700px; /* 고정된 너비 */
  height: auto; /* 고정된 높이 */
  margin: 0 auto; /* 화면 가운데 정렬 */
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  box-sizing: border-box;
  overflow-y: auto;

  .post-card {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 16px;
    position: relative;

    .post-info {
      display: flex;
      align-items: center;

      .post-image {
        width: 64px;
        height: 64px;
        border-radius: 8px;
        margin-right: 16px;
        object-fit: cover;
      }

      .post-details {
        flex-grow: 1;

        .post-title {
          font-size: 16px;
          font-weight: bold;
          margin: 0;
        }

        .post-date {
          font-size: 14px;
          color: #888;
          margin: 4px 0;
        }

        .post-status {
          font-size: 14px;
          color: #147d70;

          &.completed {
            color: #888;
          }
        }
      }
    }

    .post-actions {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      gap: 8px;

      .review-button {
        display: block;
        width: 600px;
        padding: 13px 0;
        margin-top: 16px;
        background-color: #ddd;
        color: #888;
        text-align: center;
        border-radius: 8px;
        font-size: 14px;
        text-decoration: none;

        &:hover {
          background-color: #ccc;
        }
      }

      .more-button {
        display: block;
        background: #ddd;
        width: 50px;
        padding: 10px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
      }

      .dropdown-menu {
        position: absolute;
        top: 40px;
        right: 16px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 10;

        button {
          background: none;
          border: none;
          padding: 10px 16px;
          width: 100%;
          text-align: left;
          cursor: pointer;

          &:hover {
            background-color: #f0f0f0;
          }
        }
      }
    }
  }
}
