.userBox {
  display: flex;

  img {
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.user {
  margin-left: 30px;

  &__username {
    margin: 8px 0;
  }

  &__locbox {
    display: flex;

    &__icon {
      font-size: 14px;
    }

    &__loc {
      font-size: 12.5px;
      margin-left: 5px;
    }
  }
}