.footer {
  background-color: #ffffff;
  border-top: 1px solid #e0e0e0;
  padding: 10px 0;
  width: 100%;
  max-width: 390px;
  min-width: 320px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;

  &__nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333333;
    font-size: 12px;
    width: 80px;
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-bottom: 4px;
    color: rgba(122, 122, 122, 1);
  }

  &__text {
    font-family: "Pretendard";
    font-size: 10px;
    color: rgba(122, 122, 122, 1);
  }

  &__active-icon {
    width: 24px;
    height: 24px;
    margin-bottom: 4px;
    color: rgba(20, 125, 112, 1);
  }

  &__active-text {
    font-family: "Pretendard";
    font-size: 10px;
    color: rgba(20, 125, 112, 1);
  }
}
