.tab-container {
  display: flex;
  justify-content: space-between;
}

.link {
  display: flex;
  align-items: center;
  width: 5%;

  &__icon {
    transform: rotate(-180deg);
    color: rgba(97, 100, 107, 1);
  }
}

.tabs {
  display: flex;
  position: relative;
  border-bottom: 2px solid #ddd;
  width: 92%;

  &__indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: rgba(20, 125, 112, 1);
    transition: transform 0.3s ease, width 0.3s ease;
  }

  &__tab {
    flex: 1;
    height: 45px;
    text-align: center;
    padding: 10px;
    font-weight: 500;

    &__content {
      display: flex;
      justify-content: center;
      gap: 5px;

      &__title {
        font-size: 16px;
        font-weight: 600;
      }
      
      &__len {
        color: rgba(20, 125, 112, 1);
      }
    }
  }
}