.profile {
  margin: 0 10px;

  &__userinfo {
    padding: 0 5px;
  }
}

.info {
  margin-top: 20px;
  display: flex;
  padding: 0 5px;

  &__stars {
    display: flex;
    justify-content: space-between;
    width: 50px;

    &__message {
      color: rgba(160, 156, 171, 1);
      font-size: 14px;
      margin-top: 2px;
    }

    &__star {
      color: rgba(20, 125, 112, 1);
    }
  }

  &__reviews {
    margin-left: 32px;
    color: rgba(160, 156, 171, 1)
  }
}

.reviews {
  border-top: 1px solid rgba(160, 156, 171, 1);
  border-bottom: 1px solid rgba(160, 156, 171, 1);
  margin-top: 20px;
  padding: 0 10px;
  height: 56px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    font-size: 15px;
    font-weight: 600;
  }
}

.feed {
  padding: 20px 10px 80px 10px;
}